# Tasks to move Column Head

In [9]:
import pandas as pd
ED=pd.read_csv("employee_data.csv")
ed=ED.copy()
# new_column=["Name","Age","Department","Salary","ID"]
new_column=[col for col in ed.columns if col !="ID"]+["ID"]
ed[new_column]

      Name  Age Department  Salary  ID
0    Alice   25         HR   55000   1
1      Bob   32         IT   72000   2
2  Charlie   28    Finance   48000   3
3    David   45  Marketing   91000   4
4      Eva   38         IT   65000   5
5    Frank   29    Finance   50000   6
6    Grace   41         HR   82000   7
7   Hannah   26  Marketing   47000   8
8      Ian   35         IT   75000   9
9    Julia   30    Finance   60000  10