# Scrapping data with Beautifull Soup

In [60]:
from bs4 import BeautifulSoup
import pandas as pd
with open("scrap_data.csv","r") as f:
    html_content=f.read()

soup=BeautifulSoup(html_content,"lxml")
all_tr=soup.find_all("tr",class_="team")
all_tr

h_teams=[]
for tr in all_tr:
    t1=tr.find("td",class_="name")
    y=tr.find("td",class_="year")
    w=tr.find("td",class_="wins")
    l=tr.find("td",class_="losses")
    
    team=t1.get_text(strip=True)
    year=y.get_text(strip=True)
    win=w.get_text(strip=True)
    loss=l.get_text(strip=True)

    h_teams.append([team,year,win,loss])

Teams=pd.DataFrame(h_teams,columns=["Team","Year","Win","Loss"])
Teams
# Teams.to_csv("normalize_data.csv",index=False)

                     Team  Year Win Loss
0           Boston Bruins  1990  44   24
1          Buffalo Sabres  1990  31   30
2          Calgary Flames  1990  46   26
3      Chicago Blackhawks  1990  49   23
4       Detroit Red Wings  1990  34   38
5         Edmonton Oilers  1990  37   37
6        Hartford Whalers  1990  31   38
7       Los Angeles Kings  1990  46   24
8   Minnesota North Stars  1990  27   39
9      Montreal Canadiens  1990  39   30
10      New Jersey Devils  1990  32   33
11     New York Islanders  1990  25   45
12       New York Rangers  1990  36   31
13    Philadelphia Flyers  1990  33   37
14    Pittsburgh Penguins  1990  41   33
15       Quebec Nordiques  1990  16   50
16        St. Louis Blues  1990  47   22
17    Toronto Maple Leafs  1990  23   46
18      Vancouver Canucks  1990  28   43
19    Washington Capitals  1990  37   36
20          Winnipeg Jets  1990  26   43
21          Boston Bruins  1991  36   32
22         Buffalo Sabres  1991  31   37
23         Calgary Flames  1991  31   37
24     Chicago Blackhawks  1991  36   29