# Homework Practice APIs

In [1]:
import requests
import pandas as pd


URL=("https://api.coinlore.net/api/tickers/?start=200&limit=100")
res=requests.get(URL)

In [11]:
df1=res.json()
df=pd.json_normalize(df1['data'])
df=df[["id","name","rank","price_usd"]]
df

        id            name  rank price_usd
0    45930         APEcoin   201  0.164678
1    33878  Reserve Rights   202  0.002063
2   151499           Keeta   203  0.292602
3      237            Qtum   204      1.14
4   121961      Play Token   205  0.104965
..     ...             ...   ...       ...
95  151483     MindWaveDAO   296  0.080710
96   70353         Dohrnii   297      3.96
97   33157    VeThor Token   298  0.000706
98  147517        SPACE ID   299  0.060188
99  136651            MNEE   300      1.00

[100 rows x 4 columns]