# A DataFrame is a two-dimensional, tabular data structure (like a spreadsheet or SQL table)

In [6]:
import pandas as pd
info={
    "Name":["Adam","Eve","Bob"],
    "Age":[78,99,85],
    "Grade":["A","B","O"],
}
arr=pd.DataFrame(info)
print(arr)
type(arr)

   Name  Age Grade
0  Adam   78     A
1   Eve   99     B
2   Bob   85     O

pandas.core.frame.DataFrame

In [9]:
print(arr.index)
print(arr.columns)

RangeIndex(start=0, stop=3, step=1)
Index(['Name', 'Age', 'Grade'], dtype='object')

In [13]:
import numpy as np
np_arr=np.array([[1,4,5],[2,3,6],[9,8,7]])
pd_arr=pd.DataFrame((np_arr),columns=["col1","col2","col3"])
print(pd_arr)

   col1  col2  col3
0     1     4     5
1     2     3     6
2     9     8     7

In [16]:
l=["Adam", 96], ["Eve", 75], ["Bob", 82], ["Charlie", 92]
df=pd.DataFrame(l,columns=["Name","Marks"])
print(df)

      Name  Marks
0     Adam     96
1      Eve     75
2      Bob     82
3  Charlie     92